<!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for item in gallery %}
                <div class="swiper-slide">
                    <a class="glightbox" data-gallery="images-gallery" href="{{ item.photo.url }}">
                        <img src="{{ item.photo.url }}" class="img-fluid" alt="{{ item.name }}">
                    </a>
                </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->