<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2></h2>
            <p>Check Our <span>Yummy Menu</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
            {% for category in categories %}
                {% if forloop.first %}
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-{{ category.pk }}">
                          <h4>{{ category.name }}</h4>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-{{ category.pk }}">
                          <h4>{{ category.name }}</h4>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            {% for category in categories %}
                {% if forloop.first %}
                    <div class="tab-pane fade active show" id="menu-{{ category.pk }}">
                        <div class="tab-header text-center">
                          <h3>{{ category.name }}</h3>
                        </div>
                        <div class="row gy-5">
                            {% for dish in category %}
                                <div class="col-lg-4 menu-item">
                                    <a href="{{ dish.photo.url }}" class="glightbox">
                                        <img src="{{ dish.photo.url }}" class="menu-img img-fluid" alt="">
                                    </a>
                                    <h4>{{ dish.name }}</h4>
                                    <p class="ingredients">
                                        {{ dish.ingredients }}
                                    </p>
                                    <p class="price">
                                        {{ dish.price }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="tab-pane fade" id="menu-{{ category.pk }}">
                        <div class="tab-header text-center">
                          <h3>{{ category.name }}</h3>
                        </div>
                        <div class="row gy-5">
                            {% for dish in category %}
                                <div class="col-lg-4 menu-item">
                                    <a href="{{ dish.photo.url }}" class="glightbox">
                                        <img src="{{ dish.photo.url }}" class="menu-img img-fluid" alt="">
                                    </a>
                                    <h4>{{ dish.name }}</h4>
                                    <p class="ingredients">
                                        {{ dish.ingredients }}
                                    </p>
                                    <p class="price">
                                        {{ dish.price }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
<!-- End Menu Section -->